<h1>Cod API</h1>
<p>Welcome to {{title}}</p>
<form action="/" method="get">
  <label for="uname">Username: </label><br>
  <input type="text" id="uname" name="uname"><br>
  <label for="password">Password: </label><br>
  <input type="text" id="password" name="password">
</form>
<button type="submit">Submit</button>