
<html>
  <head>
  <title>Login</title>
  </head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="page">
<body>
  <div class="wrapper">
    <h1>Modern Warfare Stats</h1>
    {{!-- <form class="form" action="/here" , method="POST"> --}}
    <form class="form">
      <label for="emailField">Call Of Duty Email: </label>
      <input type="email" id="emailField" name="emailField" placeholder="E-mail" required="TRUE">

      <label for="uname">Call Of Duty Username: </label>
      <input type="text" id="uname" name="uname" placeholder="Username" required="TRUE">

      <label for="password">Password: </label>
      <input type="password" id="password" name="password" placeholder="Password" required><br>

      <button type="submit" value="submit" name="submit" id="submit">Login</button>
    </form>
  </div>
</body>
</div>
<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
<script src="/javascripts/home.js"></script>
</html>