<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>

<body>
    <header>
        <div class="navbar">
            <img src="/images/myLogo.jpg" alt="logo" class="logo">

            <nav>
                <ul>
                    <li> <a onclick="home()">Home</a></li>
                    <li class="dropdown"> <a href="#">Multiplayer</a>
                        <ul>
                            <li><a onclick="modePage()">Modes</a></li>
                            <li><a onclick="weaponPage()">Weapons</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Warzone</a></li>

                </ul>
            </nav>

        </div>


    </header>

</body>
<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
<script src="/javascripts/nav.js"></script>
</html>